.breadcrumbBox {
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
   list-style: none;
   // color: #00000073;


   .breadcrumbText {
      color: #00000073;
   }



   .separator {
      margin: 0 8px;
      color: #00000073;
   }

   .breadcrumbText:last-child {
      color: #000000d9;
   }

   .separator:first-child {
      display: none;
   }


}